<!doctype html>
<html>
  <head>
    <title>Convert TTR Track</title>
    <script type="text/javascript">
      function submitFile() {
        document.getElementById("form").submit();
      };
    </script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form id="form" action="/ttr-track-convert/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" onchange="submitFile();">
    </form>
  </body>
</html>
